<h2>Ruby on Rails 指南 (<%= @edge ? @edge[0, 7] : @version %>)</h2>

<% if @edge %>
<p>
  这是基于 <a href="https://github.com/rails/rails/tree/<%= @edge %>">main@<%= @edge[0, 7] %> </a>的 <b>Edge 版指南</b>。
</p>
<p>
  如果您在查找稳定版本，请到
  <a href="https://guides.rubyonrails.org">https://guides.rubyonrails.org</a> 查阅。
</p>
<% else %>
<p>
  最新 Rails 7.1 版本指南基于 <a href="https://github.com/rails/rails/tree/<%= @version %>"><%= @version %></a>。
  这些指南编写初衷是想使您能够立即利用 Rails 投入产品开发，帮助您更全面的理解框架的各个部分如何相互协作。</p>
<% end %>
<p>
早期指南版本还有：
<a href="https://guides.rubyonrails.org/v7.0/" data-turbo="false">Rails 7.0</a>、
<a href="https://guides.rubyonrails.org/v6.1/" data-turbo="false">Rails 6.1</a>、
<a href="https://guides.rubyonrails.org/v6.0/" data-turbo="false">Rails 6.0</a>、
<a href="https://guides.rubyonrails.org/v5.2/" data-turbo="false">Rails 5.2</a>、
<a href="https://guides.rubyonrails.org/v5.1/" data-turbo="false">Rails 5.1</a>、
<a href="https://guides.rubyonrails.org/v5.0/" data-turbo="false">Rails 5.0</a>、
<a href="https://guides.rubyonrails.org/v4.2/" data-turbo="false">Rails 4.2</a>、
<a href="https://guides.rubyonrails.org/v4.1/" data-turbo="false">Rails 4.1</a>、
<a href="https://guides.rubyonrails.org/v4.0/" data-turbo="false">Rails 4.0</a>、
<a href="https://guides.rubyonrails.org/v3.2/" data-turbo="false">Rails 3.2</a>、
<a href="https://guides.rubyonrails.org/v3.1/" data-turbo="false">Rails 3.1</a>、
<a href="https://guides.rubyonrails.org/v3.0/" data-turbo="false">Rails 3.0</a> 和
<a href="https://guides.rubyonrails.org/v2.3/" data-turbo="false">Rails 2.3</a>。
</p>
