<% content_for :page_title, "Ruby on Rails 指南" %>
<% content_for :description, "Ruby on Rails 指南" %>

<% content_for :header_section do %>
<%= render 'welcome' %>
<% end %>

<% content_for :index_section do %>
<div id="subCol">
  <dl>
    <dt></dt>
    <% unless @edge -%>
      <dd class="kindle">Rails 指南也提供 <%= link_to 'Kindle', @epub %> 版本。</dd>
    <% end -%>
    <dd class="work-in-progress">带有此标识的指南表示该指南的内容尚在完善之中，所以该指南标题不会出现在指南索引菜单。但是该指南是可用的，只是还有不完善的地方或者还有一些问题存在。您可以对不完善的内容进行评论或者修改。</dd>
  </dl>
</div>
<% end %>

<% documents_by_section.each do |section| %>
  <h3><%= section['name'] %></h3>
  <dl>
    <% section['documents'].each do |document| %>
      <%= guide(document['name'], document['url'], work_in_progress: document['work_in_progress']) do %>
        <p><%= document['description'] %></p>
      <% end %>
    <% end %>
  </dl>
<% end %>
